/*
COLOURS USED

#FF7F50
#EEE8AA
#FFF8DC
#BDB76B

*/

@import url('https://fonts.googleapis.com/css?family=Cinzel|Raleway');

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color:#FFF8DC;
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 1rem;
    color:#FF7F50;
}

h2 {
    text-align: center;
}

p {
    margin-top: 0;
}

hr{
    color:#FFF8DC;
}

footer{
    padding-top: 1.5rem;
}
p,
a,
.social,
figcaption,
i{
    color:#FFF8DC;
    line-height: 1.4rem;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
}


figcaption{
    font-style: italic;
    color: #BDB76B;
}


ul{
    margin:.25rem;
}


.clear {
    clear: both;
}

/* ---------- MOBILE VIEW ------------- */

/*HEADER*/

.tablet,
.desktop{
    display: none;
}

.mobile {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
}


header ul {
    padding: 1rem;
}

header ul li {
    display: block;
    margin: 1rem 0;
    text-align: center;
    border:1px solid #FFF8DC;
    border-radius: 5px;
}

header a{
    text-decoration: none;
}



.logo {
    text-align: center;
    height: 5rem;
}

.logo img {
    height: 100%;
}

.tag-line {
    color: #FFF8DC;
    text-align: center;
    box-sizing: border-box;

}

/*CONTENT*/

.container {
    width: 80%;
    margin: 0 auto;
}

figure {
    margin: 0;
}

.article figure {
    margin-bottom: 1rem;
}

.article figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}


.project figure {
    margin-bottom: 2rem;
}

.project figure img {
    width: 100%;
}

/*FOOTER*/

footer {
    color:#FFF8DC;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.social ul li {
    display: inline-block;
    margin-right: .5rem;
}


/*Tablet View*/

@media screen and (min-width: 35rem) {

    .mobile {
        display: none;
    }

    .tablet {
        display: block;

    }
    
    .tag-line{
        background-image: url(../img/header-bg.jpg);
        height:7rem;
        background-size: cover;
    }
    
    .tag-line h1{
        padding-top:2rem;
    }
    
    ul{
        display: flex;
        justify-content: space-between;
    }
    
    nav ul li{
        width:40%;
    }

    p,
    a,
    i,
    figcaption {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .title {
        text-align: center;
    }

    .article figure {
        box-sizing: border-box;
        margin: 0 1rem 1rem 0;
        width: 40%;
        float: left;
    }

    .portfolio {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .portfolio .project {
        box-sizing: border-box;
        margin: 1rem;
        width: 40%;

    }


}

@media screen and (min-width: 80rem) {
    
    .tablet{
        display: none;
    }
    
    .desktop{
        display: block;
    }
    
    .logo{
        margin-right: 2rem;
    }
    
    
    header a{
        
    }
    
    ul{
        display: flex;
        justify-content:flex-start;
    }
    
    nav ul li {
        width: 8rem;
        margin:1rem;
    }

    p,
    a,
    i,
    figcaption {
        line-height: 1.6rem;
        font-size: 1.25rem;
    }

    .title {
        text-align: left;
    }

    .text {
        float: left;
        width: 58%;
    }

    .portfolio .project {
        width: 30%;
    }




}
