
    <div class="container">

        <article class="article">

            <div class="title">
                <h2>The Value of Money</h2>
            </div>

            <figure>
                <img src="../img/money.jpg" alt="piggy bank" />
                <figcaption>What is the value of money?</figcaption>
            </figure>

            <div class="text">
                <p>Just as there are many definitions for value, there are many definitions for success as well. Money is often a means towards success, but it is rarely success itself.</p>
                <p>The real value of money emerges when we leverage it as a tool towards our success rather than making it success itself. When we channel it towards the experiences and values that we find more important. When we use it to build an innovative business, when it fuels our creativity or infuses our community, when it supports our family or shares love with our friends or adds to our personal health and satisfaction. </p>

                <p>The real value of money begins when we look beyond it and see ourselves as better, as more valuable, than it is. When it’s not about the accumulation of stuff but rather the enactment of experiences. When it’s not about the mug but rather the coffee that’s in it.</p>
            </div>
            
            <div class="clear"></div>
        </article>
        
        <hr>

        <article class="article">
            <div class="title">
                <h2>GMO Food</h2>
            </div>
            <figure>
                <img src="../img/farm.jpg" alt="tracker" />
                <figcaption>What is the deal with GMO foods?</figcaption>
            </figure>

            <div class="text">
                <p>So what exactly are genetically modified organisms, or GMOs, and how do they factor into the taste, health, and environmental impact of the food we eat? Simply put, GMOs are organisms that have had specific changes made to their DNA that do not occur naturally, using genetic engineering. GMO crops are often genetically modified to improve food quality (i.e. appearance or nutrition) and increase the plant's resistance to pests, herbicides, or changes in weather. Similarly, modifications have been made in animals to improve growth rate, meat quality, and reproductive ability.</p>

                <p>Organisms become genetically modified through a process called transformation, where DNA from another species is added to the organism's own DNA. Most genetic modification is done in plants and this process starts by infecting the plants with a bacterium carrying the DNA to be added.3 The bacterium then invades the plant and inserts the DNA into the plant's genome. The plan then uses this newly inserted DNA to make proteins that it normally does not make, which changes its characteristics. For example, one of these proteins might protect plants from being eaten by a certain type of insect, or allow them to better survive during a heat wave.</p>

                <p>A lot of this negative association comes from our gut instinct that things "ought" to be a certain way. The "something isn't right" characterization of GMOs falls into that type of thinking - a lot of people instinctually believe it is wrong to interfere with the genetic makeup of other organisms, but may not have a specific reason for this belief. But here is a secret: humans have been genetically modifying organisms for centuries.</p>
            </div>
            <div class="clear"></div>
        </article>
        
        <hr>

        <article class="article">
            <div class="title">
                <h2>The View of World in 2100</h2>
            </div>

            <figure>
                <img src="../img/future.jpg" alt="circut board" />
                <figcaption>Where will we be in 2100?</figcaption>
            </figure>

            <div class="text">
                <p>Predicting the future is hard. It’s nearly impossible to know what technological marvels await in the next few years, let alone the next eight decades. Undaunted, we’ve put together a list of 10 super-advanced technologies that should be around by the year 2100.</p>

                <p>Some of these technologies are rather “out there,” but I’m reasonably confident in making these predictions. As radical as some of the items described here appear, most—if not all—should be around by the turn of the 22nd century. The reason has to do with an innovation that doesn’t appear on this list: Artificial superintelligence. As computer scientist I. J. Good aptly pointed out in the 1960s, “the first ultraintelligent machine is the last invention that man need ever make.”</p>

                <p>Once greater-than-human intelligence emerges in a machine—a development that could happen as early as the 2050s—all bets are off in terms of what’s technically possible. Intelligent machines will replace humans as designers and engineers, constructing the technologies of our dreams, including some we hadn’t even thought of. Here are just 10 of those technologies that could change virtually everything.</p>

            </div>
            <div class="clear"></div>
        </article>
    </div>

