<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>


    <div class="container">
       <h2>Porfolio</h2>
        <div class="portfolio">
            <div class="project">
                <figure>
                    <img src="./img/boat.jpg" alt="circut board" />
                    <figcaption>Nova Scotia Pier</figcaption>
                </figure>
            </div>

            <div class="project">
                <figure>
                    <img src="./img/bridge.jpg" alt="circut board" />
                    <figcaption>Vancouver Bridge</figcaption>
                </figure>
            </div>

            <div class="project">
                <figure>
                    <img src="./img/buckets.jpg" alt="circut board" />
                    <figcaption>Fishing Buckets</figcaption>
                </figure>
            </div>

            <div class="project">
                <figure>
                    <img src="./img/pyramid.jpg" alt="circut board" />
                    <figcaption>Egyptian Pyramids</figcaption>
                </figure>
            </div>

            <div class="project">
                <figure>
                    <img src="./img/temple.jpg" alt="circut board" />
                    <figcaption>Thai Temple</figcaption>
                </figure>
            </div>

            <div class="project">
                <figure>
                    <img src="./img/tree.jpg" alt="circut board" />
                    <figcaption>Vancouver Forest</figcaption>
                </figure>
            </div>
        </div>
    </div>

</body>
</html>
